---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from '../components/Hero.astro';
---

<BaseLayout pageTitle="Contact us">
        <Hero titleTag="h1" titleText="Contact us" subTitleTag="h2" subTitleText="Time to get Cascaded" />
        <div class="lg:flex lg:gap-8">
                <div class="lg:basis-1/2">
                        <p>Use the contact form with your query and we will be in touch!</p>
                </div>
                <div class="my-2 lg:basis-1/2">
                        <div>
                                <form class="grid grid-cols-1 gap-6 text-black" name="contact" method="POST" netlify>
                                        <label class="block">
                                          <span>Full name</span>
                                          <input type="text" class="mt-1 block w-full" placeholder="Name" required>
                                        </label>
                                        <label class="block">
                                                <span>Email</span>
                                                <input type="email" class="mt-1 block w-full" placeholder="jon@doe.com" required>
                                              </label>
                                              <label class="block">
                                                <span>Message</span>
                                                <textarea class="mt-1 block w-full" placeholder="" required></textarea>
                                              </label>

                                              <button class="btn text-center justify-center" type="submit">Send</button>
                                </form>
                </div>
        </div>
</BaseLayout>