---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from '../components/Hero.astro';
import { Image } from "astro:assets";
import Avatar from '../assets/avatar.jpeg';
---

<BaseLayout pageTitle="Home">
        <Hero titleTag="h1" titleText="Cascade Development" subTitleTag="h2" subTitleText="Code to Conversion">
                <a class="btn" href="/">Lets Talk</a>
        </Hero>
        <div class="flex my-8">
                <div class="basis-1/2 p-4">
                        <h3>About us</h3>
                        <p>Hi 👋🏻, I'm Patrick, the owner of Cascade Development.</p>
                        <p>I have over 8 years commercial experience in Web Development, specifically the ecommerce space.</p>
                        <p>I'm a certified Magento 2 developer and have been fortunate enough to work with global brands such as Brandon Hire Station, National Trust, Screwfix and more.</p>
                        <p>I'm a firm believer that every business should have some form of online presence. A website is the best place to start.</p>
                        <p>If you haven't got a website, or you have one that's slow, painful and a general mess, look no further. <a href="/contact">Let's talk!</a></p>
                </div>
                <div class="flex justify-end basis-1/2 p-4">
                       <figure>
                        <Image src={Avatar} alt="Patrick Whitehouse headshot" class="inline-block rounded-lg" />
                        <figcaption class="sr-only">Patrick Whitehouse - Owner of Cascade Development</figcaption>
                       </figure>
                </div>
        </div>
        <Hero titleTag="h3" titleText="We utilise the latest tech">
                <ul>
                        <li><span>Item</span></li>
                        <li><span>Item</span></li>
                        <li><span>Item</span></li>
                        <li><span>Item</span></li>
                </ul>
                </Hero>
</BaseLayout>