---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from '../components/Hero.astro';
---

<BaseLayout pageTitle="Services">
        <Hero titleTag="h1" titleText="Services" />
        <div>
                <h3>What we offer</h3>
                <p>As a leading web development agency, we specialise in a comprehensive suite of services designed to elevate your online presence and drive results. Here's a glimpse into what sets us apart:</p>
                <p>
                        <ul class="list-disc list-inside">
                                <li>
                                        <p>Web Design</p>
                                        <p>Our expert designers craft visually stunning and user-friendly websites tailored to your brand identity. From sleek and modern to vibrant and dynamic, we ensure your website leaves a lasting impression.</p>
                                </li>
                                <li>
                                        <p>Web Development</p>
                                        <p>Our development team is dedicated to building robust, scalable, and feature-rich websites. Whether you need a custom CMS, e-commerce platform, or a web application, we leverage the latest technologies to deliver solutions that meet your unique requirements.</p>
                                </li>
                                <li>
                                        <p>Bug Fixing</p>
                                        <p>Your website's performance is crucial, and we understand that even the smallest bugs can disrupt user experience. Our team excels in identifying and swiftly resolving issues, ensuring your website operates seamlessly.</p>
                                </li>
                                <li>
                                        <p>PPC (Pay-Per-Click)</p>
                                        <p>Maximise your online visibility and drive targeted traffic with our PPC services. We create effective and data-driven campaigns to boost your online presence, increase conversions, and maximise your return on investment.</p>
                                </li>
                                <li>
                                        <p>Social Media Management</p>
                                        <p>We offer content creation, social media management and copywriting.</p>
                                </li>
                        </ul>
                </p>
        </div>
</BaseLayout>