---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from '../components/Hero.astro';
---

<BaseLayout pageTitle="Services">
        <Hero titleTag="h1" titleText="Services" />
        <div class="my-12">
                <h3>What we offer</h3>
                <p>As a leading web development agency, we specialise in a comprehensive suite of services designed to elevate your online presence and drive results. Here's a glimpse into what sets us apart:</p>
        </div>
        <div class="my-12">
                <p>
                        <div class="my-4 flex flex-wrap gap-8">
                                <div class="card basis-1/2 lg:basis-1/4 grow">
                                        <p class="text-xl">Web Design</p>
                                        <p>Our expert designers craft visually stunning and user-friendly websites tailored to your brand identity. From sleek and modern to vibrant and dynamic, we ensure your website leaves a lasting impression.</p>
                                </div>
                                <div class="card basis-1/2 lg:basis-1/4 grow">
                                        <p class="text-xl">Web Development</p>
                                        <p>Our development team is dedicated to building robust, scalable, and feature-rich websites.</p>
                                </div>
                                <div class="card basis-1/2 lg:basis-1/4 grow">
                                        <p class="text-xl">Bug Fixing</p>
                                        <p>Your website's performance is crucial, and we understand that even the smallest bugs can disrupt user experience. Our team excels in identifying and swiftly resolving issues, ensuring your website operates seamlessly.</p>
                                </div>
                                <div class="card basis-1/2 lg:basis-1/4 grow">
                                        <p class="text-xl">PPC (Pay-Per-Click)</p>
                                        <p>Maximise your online visibility and drive targeted traffic with our PPC services. We create effective and data-driven campaigns to boost your online presence, increase conversions, and maximise your return on investment.</p>
                                </div>
                                <div class="card basis-1/2 lg:basis-1/4 grow">
                                        <p class="text-xl">Social Media Management</p>
                                        <p>We offer content creation, social media management and copywriting.</p>
                                </div>
                                <div class="card basis-1/2 lg:basis-1/4 grow">
                                        <p class="text-xl">JAMStack</p>
                                        <p>It's all about speed, security, and simplicity. No more worrying about server-side hassles or complex databases. With JAMStack, your site becomes a pre-built, ready-to-go superhero, serving up content at lightning speed.</p>
                                </div>
                        </div>
                </p>
        </div>
        <div class="my-12">
                <p>
                        With tech constantly, we pride ourselves on ensuring that your web presence is always at the forefront of technology, employing the latest advancements in web development to deliver a cutting-edge and future-proof digital experience for your audience.
                </p>
                <p>
                        Fancy having a website that actually converts and looks beautiful? <a href="/contact">Let's talk!</a>
                </p>
        </div>
</BaseLayout>