---
import Hero from "../components/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

---
<BaseLayout pageTitle="Form Submitted">
        <Hero titleTag="h1" titleText="Form submitted" subTitleTag="h2" subTitleText="We will be in touch shortly">
                <a href="/" class="btn mt-4">Go home</a>
                </Hero>
</BaseLayout> 