---
import { Image } from "astro:assets";
import Logo from '../assets/logo.png';
---
<header>
        <nav class="max-w-6xl mx-auto p-8">
                <ul class="flex gap-x-8">
                        <li class="mr-auto"><a class="no-underline" href="/"><Image src={Logo} alt="Cascade Development logo" format="avif"/></a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/pricing">Pricing</a></li>
                        <li><a href="/contact">Let's Talk!</a></li>
                </ul>
        </nav>
</header>